{template "content","header"}

<div class="page-contain">
    <div class="container clearfix">
        <div class="contain-menu">
            <div class="column-title">
                <h2 class="title">网站栏目</h2>
            </div>
            <ul class="column-list">
                {pc:content action="category" catid="0" num="15" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <li><a href="{$r[url]}">{$r[catname]}</a></li>
                {/loop}
                {/pc}
            </ul>
        </div>
        <div class="contain-body">
            <div class="column-title">
                <h2 class="title title2">求职信息</h2>
            </div>
            <div class="zp-content">
                <table class="applyforjob-table" width="100%" cellspacing="0" border="0">
                    <tbody>
                    <tr>

                        <td width="110"><strong>姓名</strong></td>
                        <td><?php echo $cjrjbxx['xm']?></td>
                        <td colspan="2" rowspan="6" align="center"> <img src="<?php echo $cjrjbxx['zp']?>" alt="" widtd="100" height="140"/></td>
                    </tr>
                    <tr>
                        <td><strong>性别</strong></td>
                        <td><?php echo $cjrjbxx['xb']?></td>
                    </tr>
                    <tr>
                        <td><strong>身份证号</strong></td>
                        <td><?php echo $cjrjbxx['sfzh']?></td>
                    </tr>
                    <tr>
                        <td><strong>残疾证号</strong></td>
                        <td><?php echo $cjrjbxx['cjzh']?></td>
                    </tr>
                    <tr>
                        <td><strong>出生日期</strong></td>
                        <td><?php echo $cjrjbxx['csrq']?></td>
                    </tr>
                    <tr>
                        <td><strong>民族</strong></td>
                        <td><?php echo $cjrjbxx['mz']?></td>
                    </tr>
                    <tr>
                        <td><strong>残疾类别</strong></td>
                        <td><?php echo $cjrjbxx['cjlb']?></td>

                        <td width="110"><strong>残疾等级</strong></td>
                        <td><?php echo $cjrjbxx['cjdj']?></td>
                    </tr>
                    <tr>
                        <td><strong>文化程度</strong></td>
                        <td><?php echo $cjrjbxx['whcd']?></td>
                        <td><strong>政治面貌</strong></td>
                        <td><?php echo $cjrjbxx['zzmm']?></td>
                    </tr>
                    <tr>
                        <td><strong>婚姻状况</strong></td>
                        <td><?php echo $cjrjbxx['hyzk']?></td>
                        <td><strong>职称等级</strong></td>
                        <td><?php echo $cjrjbxx['zcdj']?></td>
                    </tr>
                    <tr>
                        <td><strong>所属辖区</strong></td>
                        <td><?php echo $cjrjbxx['ssxq']?></td>
                        <td><strong>联系电话</strong></td>
                        <td><?php echo $cjrjbxx['lxdh']?></td>
                    </tr>
                    <tr>
                        <td><strong>家庭住址</strong></td>
                        <td colspan="3"><?php echo $cjrjbxx['jtzz']?></td>
                    </tr>
                    </tbody>
                </table>
                <table class="qzxx-table" width="100%">
                    <caption>求职信息</caption>
                    <tr>
                        <td width="110"><strong>求职岗位</strong></td>
                        <td><?php echo $cjrqzxx['qzgw']?></td>
                    </tr>
                    <tr>
                        <td><strong>教育经历</strong></td>
                        <td><?php echo $cjrqzxx['jyjl']?></td>
                    </tr>
                    <tr>
                        <td><strong>工作经验</strong></td>
                        <td><?php echo $cjrqzxx['gzjy']?></td>
                    </tr>
                    <tr>
                        <td><strong>专业技能</strong></td>
                        <td><?php echo $cjrqzxx['zyjn']?></td>
                    </tr>
                    <tr>
                        <td><strong>兴趣爱好</strong></td>
                        <td><?php echo $cjrqzxx['xqah']?></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>


{template "content","footer"}
</body>
</html>